@charset "utf-8";
#tulisan table tr td #form2 div {
	font-family: "Comic Sans MS", cursive;
}
#tulisan table tr td #form2 div {
	font-size: 14px;
}
#tulisan table tr td #form3 div {
	font-family: "Comic Sans MS", cursive;
}
#tulisan table tr td #form3 div {
	font-size: 14px;
}
#tulisan table tr td form div {
	font-family: "Comic Sans MS", cursive;
}
#tulisan table tr td form div {
	font-size: 14px;
}
